/*COLORES (de más oscuro a más claro):
6B2A46
AB4370
D15289
EB5C99
F760A2
EA0C0C (rojo)
*/



body {
    text-align: center; 
    margin: 0px;
    padding: 0px;
    /*fuentes*/
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*recursos para suavizar fuentes*/
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
  }
  
  #header {
    height: 120px;
    width: 100%;
    background: white;
    border-bottom: 1px solid #ccc;
    border-top: 5px solid #6B2A46;
  }
  
  .center {
    width: 90%;
    margin: 0px auto;
  }
  
  .clearfix {
    clear: both;
    float: none;
  }
  
  #logo {
    width: 30%;
    font-size: 30px;
    float: left;
    margin-top: 35px;
  }
  
  
  #logo img {
    display: block;
    float: left;
    height: 150px;
    margin-top: -50px;
      transition: transform 500ms;
  }
  
  #logo img:hover {
      background: transparent;
      transform: scale(1.2,1.2);
  }

  
  #menu {
    width: 70%;
    float: right;
    font-size: 18px;
  }
  
  #menu ul {
    line-height: 85px;
    width: 60%;
    float: right;
  
  }
  
  #menu ul li {
    display: inline-block;
    list-style: none;
    height: 46px;
    margin-left: 15px;
    margin-right: 15px;
    
  }
  
  #menu a {
    text-decoration: none;
    color: #444;
    transition: 300ms all;
  }
  
  #menu a:hover {
    color: #EA0C0C;
    
  }
  
  .active {
    border-bottom: 2px solid #6B2A46;
  }
  
  #slider {
    width: 100%;
    height: 250px;
    line-height: 0px;
    color: white;
    text-shadow: 0px 0px 5px #444;
    background: #EB5C99;
  }
  
  #slider h1 {
    margin: 0.2px;
    padding: 0px;
    padding-top: 110px;
    text-align: center;
  }
  
  .btn-white {
    color: rgb(85, 83, 83);
    display: block;
    background: white;
    padding: 10px;
    width: 100px;
    height: 35px;
    margin: 0px auto;
    font-size: 11px;
    text-transform: uppercase;
    text-shadow: none;
    text-decoration: none;
    line-height: 35px;
    box-shadow: 0px 0px 5px rgb(88, 88, 88);
    margin-top: 30px;
    border-radius: 6px;
  
  }
  
  .btn-white:hover {
    background-color: #6B2A46;
    color: white;
    transition: 400ms all;
  }
  
  #slider.slider-small {
    height: 115px;
  }
  
  #slider.slider-small h1 {
    margin: 0.2px;
    padding: 0px;
    padding-top: 53px;
    
  }
  
  #content {
    width: 70%;
    float: left;
    min-height: 650px;
    margin-right: 20px;
  
  }
  
  #sidebar {
    width: 25%;
    float: left;
  
  }
  
  .sidebar-item {
    background: #f7f7f7;
    padding: 20px;
    margin-top: 30px;
  
  }
  
  .sidebar-item h3 {
    text-transform: uppercase;
    font-size: 18px;
    margin: 0px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
    
  }
  
  .sidebar-item .btn{
    margin: 0px auto;
    margin-top: 10px;
    
  }
  
  .btn {
    display: block;
    background: black;
    color: white;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    max-width: 120px;
    transition: 300ms all;
    border: none;
    cursor: pointer;
  
  }
  
  .btn-success {
  background: #6B2A46;
  }
  
  .btn-success:hover {
    background: #EA0C0C;
    transition: 300ms all;
  }
  
  .mid-form {
    width: 50%;
    margin: 0px auto;
  
  }
  
  .mid-form label {
    display: block;
    float: left;
    text-align: left;
    margin-bottom: 5px;
    font-size: 17px;
    margin-top: 10px;
  
  }
  
  input[type="text"],
  textarea:focus {
    width: 100%;
    min-height: 30px;
    border: 1px solid #ccc;
    padding: 3px;
    margin-bottom: 5px;
    transition: 300ms all;
  }
  
  input[type="text"]:focus {
    box-shadow: 0px 0px 5px #ccc inset;
  }
  
  textarea {
    width: 100%;
    height: 150px;
    min-width: 100%;
    min-height: 150px;
    max-width: 100%;
    max-height: 300px;
  }
  
  .radiobuttons {
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
  }
  
  
  #footer {
    background: #f7f7f7;
    width: 100%;
    height: 70px;
    line-height: 70px;
    color: #444;
  }
  
  #footer p {
    margin: 0px;
    padding: 0px;
  }
  
  .article-item {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;
  
  }
  
  .article-item .image-wrap {
    width: 400px;
    height: 400px;
   /*overflow: hidden;*/
    float:left;
    margin-right: 15px;
    
  }

  @keyframes palpitar {
    0%{
        transform:  scale(1)
    }
    50%{
        transform:  scale(1.1)
    }
    100%{
        transform:  scale(1)
    }
  }

  .image-wrap {
animation: palpitar 2s linear infinite alternate
  }

  .text-heart {
  font-size: 25px;
  font-style: italic;
  color: #6B2A46;
  padding-top: 100px;
  }
  
  .article-item .image-wrap img {
    height: 100%;
    text-align: center;
  }
  
  .article-item h2 {
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 7px;
  }
  
  .article-item .date {
    display: block;
    width: 100%;
    color: #444;
  
  }
  
  .article-item a {
    display: block;
    color: #444;
    text-decoration: none;
    margin-top: 10px;
  }
  
  .article-item a:hover {
    text-decoration: underline;
  }
  
  .subheader {
    font-size: 38px;
    border-bottom: 1px solid #eee;
    padding: 10px;
  }
  
  .article-detail .image-wrap {
    float: none;
    width: 100%;
    height: 300px;
  
  
  }
  
  .article-detail .image-wrap img {
    width: 100%;
    height: auto;
    
  }
  
  .article-detail .subheader {
    margin-top: 15px;
    margin-bottom: 0px;
    border: none;
  
  }
  
  /*responsive*/
  /*desde la anchura 1314px hasta la anchura 1489px de la pantalla:*/
  @media (max-width: 1489px){
  /*se ejecutan estos estilos:*/
  .center {
    width: 85%;
  }
  
  }
  
  @media (max-width: 1314px){
  .center {
     width: 95%;
  }
  
  #menu ul {
    width: auto;
  }
  
  
  }
  
  @media (max-width: 920px){
  #logo {
    float: none;
    width: 200px;
    margin: 0px auto;
    margin-top: 20px;
  
  }
  #menu,   
  #menu ul {
     clear:both;
     float: none;
     width: 100%;
     margin: 0px;
     padding: 0px;
     line-height: 40px; 
  
  }
  
  #content {
     float: none;
     width: 100%;
  }
  
  #sidebar {
     float: none;
     width: 60%;
     margin: 0px auto;
     margin-bottom: 50px;
  }
  
  #slider h1{
     padding-top: 115px;
     font-size: 25px;
  
  }
  
  .mid-form {
     width: 70%;
  }
  
  #menu a {
    text-decoration: none;
    color: #444;
    transition: 300ms all;
  }
  
  #menu a:hover {
    color: white;
    
  }
    
    
  }
  
  @media (max-width: 497px){
    #header {
        min-height: 130px;
        overflow: hidden;
    }
  
    #menu,
    #menu ul {
        line-height: 50px;
  
    }
  
    #menu,
    #menu ul li {
        margin-left: 7px;
        margin-right: 7px;
  
    }
  
    #slider {
        height: 190px;
  
    }
  
    #slider h1 {
        font-size: 19px;
        padding-top: 30px;
    }
    
    #slider .btn-white {
        margin-top: 20px;
        width: 80px;
        height: 25px;
        font-size: 15px;
        padding-bottom: 20px;
    }
    
    #slider .slider-small {
        height: 100px;
  
    }
  
    #slider .slide-smaill h1 {
        padding-top: 35px;
    }
  
    }